* {
    margin-top: 5;
    margin-bottom: 5;
    margin-left: 0;
    margin-right: 0;
    padding-top: 5;
    padding-bottom: 5;
    padding-left: 0;
    padding-right: 0;
}
#harrynav .logbut{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 5px;
    font-size: 1rem;
    padding: 5px 10px;
    border-radius: 7px;
    color: white;
    background-color: rgb(144, 7, 242);
    border-color: rgb(144, 7, 242);
}
#harrynav .logbut:hover{
    background-color: rgb(110, 23, 172);
    cursor: pointer;
}

#harrynav ul li a {
    text-decoration: none;
    color: black;
    font-size: 1.1rem;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;


}
#harrynav ul li a:hover {
    border-bottom: 2px solid rgb(144, 7, 242);
    padding-bottom: 2px;


}

#harrynav .buttnn {
    background-color: rgb(144, 7, 242);
    color: white;
    margin-left: 7px;
    padding-top: 7px;
    padding-bottom: 5px;
    border-radius: 10px;
    margin-top: -10px;

}

#harrynav ul li {
    list-style: none;

}

#harrynav ul {
    display: flex;
    text-align: end;
    margin-top: 27px;
    margin-left: 450px;

}

#harrynav {
    display: flex;
    padding-left: 30px;
    position: fixed;
    margin-top: -130px;
    width: 100%;
    background-color: white;
}


#harrynav h1 {
    color: rgb(144, 7, 242);
    font-family: Arial, Helvetica, sans-serif;
}

/* NEXT */
.tute2 ul li a {
    text-decoration: none;
    color: rgb(144, 7, 242);
    font-size: 1.1rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding: 15px;


}
.tute2 ul li a:hover {
    border-bottom: 3px solid rgb(144, 7, 242);
    padding-bottom: 2px;
}

.tute2 ul li {
    list-style: none;

}

.tute2 ul {
    display: flex;
    text-align: end;
    /* margin-top: 27px; */
    margin-left: 350px;


}

#tute {
    display: flex;
    box-shadow: 0 1px 4px 1px rgb(182, 181, 181);
    padding-left: -20px;
    position: fixed;
    margin-top: -59px;
    width: 100%;
    background-color: white;
}

.tute1 {
    margin-top: 14px;
    padding-left: 20px;
}

.tute3 {
    margin-top: 14px;
    margin-left: 350px;
}

/* next */
#main {
    display: flex;
    margin-top: 126px;
}

#main .imagew img {
    width: 800px;
    margin-top: -4px;

}

.wor {
    padding-left: 50px;
    padding-top: 40px;
}

.wor h1 {
    font-size: 2.5rem;
}

.wor span {
    color: rgb(144, 7, 242);
}

.wor h2 {
    font-size: 2rem;
    margin-top: -26px;
}

.wor p {
    margin-top: -10px;
    font-size: 1.2rem;
    color: gray;
    width: 93%;
}

.wor .b1 {
    background-color: rgb(5, 1, 31);
    padding: 10px;
    margin-right: 10px;
    border-radius: 5px;
    color: white;
    border: none;
}

.wor .b1:hover {
    background-color: rgb(8, 1, 50);
    cursor: pointer;
}

.wor .b2 {
    background-color: rgba(222, 217, 217, 0.973);
    padding: 10px;
    margin-right: 10px;
    border-radius: 5px;
    color: rgb(0, 0, 0);
    border: none;
}

.wor .b2:hover {
    background-color: rgba(175, 172, 172, 0.973);
    cursor: pointer;
}

/* next */
#rec {
    display: flex;

}

#rece h1 {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 50px;
}

.d1 {
    width: 35%;
    /* border: 2px solid gray; */
    box-shadow: 0 1px 4px 1px rgb(175, 173, 173);
    border-radius: 5%;
    margin-inline: 4%;
}

.d1 img {
    width: 100%;
    border-radius: 5% 5% 0% 0%;
}

.d1 h5 {
    padding-left: 15px;
}

.d1 h2 {
    padding-left: 15px;
    margin-top: -20px;
    font-size: 1.4rem;
}

.d1 p {
    padding-left: 15px;
    margin-top: -10px;
}

.d1 button {
    margin-left: 15px;
    padding: 10px 15px;
    border-radius: 50px;
    background-color: rgb(144, 7, 242);
    color: white;
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 25px; 
    cursor: pointer;
}

/* next */
#comm {
    display: flex;
}

.boxi {
    width: 48%;
    /* border: 2px solid red; */
    margin-left: 20px;
    background-color: rgb(244, 242, 242);
}

.boxi p {
    padding-left: 30px;
    padding-right: 20px;
    font-size: 1.3rem;
}

.boxi h1 {
    padding-left: 30px;
    padding-right: 20px;
    color: gray;
    font-size: 4rem;
    margin-bottom: -20px;
    margin-top: 2px;
}

.boxi h3 {
    padding-left: 50px;
    font-size: 1.5rem;
}

.boxi h5 {
    padding-left: 50px;
    margin-top: -20px;
    color: gray;
    font-size: 1.2rem;
    padding-bottom: 20px;
}

/* next */
#footer {
    display: flex;
    margin-top: 50px;
    margin-bottom: 150px;
}

#footer img {
    width: 5%;
    margin-left: 20px;
}

#footer p {
    margin-top: 33px;
    margin-left: 50px;
    border-left: 2px solid rgb(183, 183, 183);
    padding-left: 20px;
    color: rgb(104, 104, 104);
}

#footer .svgs {
    margin-top: 33px;
    margin-left: 736px;

}

#footer h1 {
    font-size: 1.5rem;
    padding-left: 10px;
    margin-top: 26px;


}
*{
    font-family: 'Roboto', sans-serif;
}